* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-color: aquamarine;
}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  padding: 20px;
}

.Text {
  flex: 1;
  text-align: center;
}

.Vid {
  flex: 1;
  text-align: center;
}

.Img  {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  align-items: center;
}
